.main {
   background-color: rgb(27, 27, 126);
}.advance {
    /* background-color: orange; */
    width: 10%;
    height: 30px;
    margin-top: 30px;
    border: 1px solid white;
    list-style-type: none;
    color: white;
}
.sell {
    font-size: 25px;
}
.image {
    width: 1.5%;
    background-color: aqua;
}
/* .advance :hover {
    border: 1px solid lightgray;
} */
 .sectiona {
    background-color: white;
 }
 #id1{
    background-color: rgb(59, 51, 51);
    color: white;
 }
 #id2{
    color: white;
 }
 #id3{
    color: white;
 }
 
.img1{
      background-color:  white;
   
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 40px;
    height: 400px;
    
}
.img{
    width: 500px;
    height: 100px;
    background-color: aqua;
    
}
.car1{
   /* width: 150px;
    margin: 20px;
     border: 2px solid white;
      background-color: white */
      width: 120px;
      height: auto;
      border: 2px solid #ccc;
      background-color: white;
      padding: 5px;
      transition: 0.3s ease;
}
.car:hover{
   filter: brightness(80%);
   transform: scale(1.05);
   cursor: pointer;
}
.row{
   display: flex;
   gap: 20px;
   justify-content: center;
   

}
.row1{
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-top: 30px;
}
.img2{
   background-color: white;
   
   display: flex;
   flex-direction: column;
   gap: 30px;
   align-items: center;
   margin-top: 40px;
   height: 400px;
}
.row2{
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-top: 85px;
   height: 120px;
   width: 200px;
   margin-right: 45%;
}
.car2{
   width: 600px;
   border: 2px solid #ccc;
   background-color: white;
   padding: 5px;
}
.su{
   
      background-color: #fff;
      border: 1px solid #e6e6e6;
      box-sizing: content-box;
      border-radius: 50%;
      margin-bottom: 10px;
      padding: 5px;
      min-width: 1%;
      width: 80px;
      margin-left: 100px;
}
.circle{
   background-color:  rgb(226, 222, 222); 
   margin-top: 60px;
   display: flex;
  
}
.circle2{
   background-color:  rgb(226, 222, 222); 
   margin-top: 60px;
   display: flex;
  
}
.circle3{
   background-color:  rgb(226, 222, 222); 
   margin-top: 60px;
   display: flex;
  
}
.circle4{
   background-color:  rgb(226, 222, 222); 
   margin-top: 60px;
   display: flex;
  
}
 .circle5{
   background-color:  rgb(226, 222, 222); 
   margin-top: 60px;
   display: flex;
  
}
.main-circle2{
   margin-top: 100px;
   
}
.sec2{
   background-color: aqua;

}
.big{
   background-color: white;
}
.img2{
   display: flex;
   flex-direction: column;
   gap: 30px;
   align-items: center;
   margin-top: 40px;
   height: 400px;
   
}
.hading{
   margin-right: 50px;
   font-size: 30px;
}
.last{
   background-color: black;
   color: white;
  
}
.section2{
   font-size: 25px;
   color: rgb(37, 37, 108);
}
 .sim{
   color: black;
   margin-left: 20px;
 }